#progress-indicator 
{
	-fx-progress-color: white;
}

#progress-bar > .track 
{
	-fx-control-inner-background: gray;
}
#progress-bar > .bar 
{
	-fx-background-color: linear-gradient(
	   	from 0px .75em to .75em 0px,
	    repeat,
	    -fx-accent 0%,
	    -fx-accent 49%,
	    derive(-fx-accent, 30%) 50%,
	    derive(-fx-accent, 30%) 99% );
}

#progress-vbox
{
	-fx-background-color:  linear-gradient(lightgray, gray);
	-fx-border-color: white;
	-fx-border-radius: 20;
	-fx-padding: 10 10 10 10;
	-fx-background-radius: 20;
}

.tab
{
	-fx-background-color: #d2d2d2;
}

.tab:selected
{
	-fx-background-color: #c2c2c2;
}

.tab-label
{
	-fx-text-fill: black;	
}

.tab:selected .tab-label
{
	-fx-font-weight: bold;
}

.chart 
{
    -fx-background-color: #cccccc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.chart-legend
{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.chart-title
{
    -fx-font-weight: bold;
}

.chart-legend-item{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.chart .axis
{
	-fx-tick-label-fill: black;
}

.chart .axis-tick-mark {
	-fx-stroke: black;
    -fx-stroke-width: 0.5; 
}

.chart .axis-label
{
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

#menu-bar
{
	-fx-background-color: white;
	-fx-font-size: 1.1em;
}

#content-pane-border-pane
{
	-fx-background-color: #c2c2c2;
}

#content-pane-toolbar
{
	-fx-background-color: black, #838383;
}

#content-pane-toolbar .label
{
	-fx-text-fill: black;
	-fx-font-weight: normal;
}

#content-pane-toolbar-hbox
{
	-fx-background-color: black, orange;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-padding: 0 20 0 20;
}

.slider .thumb {
	-fx-background-color: #dad9da, white, #383838;
	-fx-background-insets: 0, 1, 5;
	-fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.2), 5, 0.0 , 0, 0);
}
.slider .thumb:hover {
	-fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.4), 5, 0.0 , 0, 0);
}
.slider .track {
	-fx-background-color: #838383, white;
	-fx-background-insets: -1, 0, 1;
	-fx-pref-height: 5;
}
.slider:vertical .track {
	-fx-pref-width: 5;
}

.slider .axis
{
	-fx-tick-label-fill: black;
	-fx-tick-label-font-weight: bold;
}
